* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    margin-top: 50px;
}

#score{
    margin: 50px 0px;
}

#main-cont{
    display: flex;
    justify-content: space-evenly;
}

.game{
    font-size: 15px;
    margin: 50px 15px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
    background-color: whitesmoke;
}