* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    margin-top: 50px;
}

#score{
    margin: 50px 0px;
    color: rgb(44, 60, 100)
}

#main-cont{
    display: flex;
    justify-content: space-evenly;
}

.game{
    font-size: 15px;
    color: rgb(44, 60, 100);
    margin: 50px 15px;
    border-radius: 10px;
    border: 1px solid rgb(44, 60, 100);
    padding: 5px;
    background-color: rgb(227, 230, 229);
    transition: color 0.5s;
}

.game:hover {
    color: rgb(227, 230, 229);
    background-color: rgb(44, 60, 100);
    border: 1px solid rgb(227, 230, 229);
}